*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.banner {
    width: 100%;
    display: block;
}
.flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 7rem;
  }

.flex-container-about
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 9rem;
}
.logo{
    width: 15vw;
    height: 18vw;
    margin: 7vw;
    border-radius:60px;
    border:5px solid black;
    float: left;
    position: relative;
}
.imagen
{
    display: flex;
    justify-content: space-between; 
    border:solid;
    border-color:rgb(0, 115, 255);
    border-radius:5px;


}
.fondo
{
    background-color: blanchedalmond;
}
.subtitulo
{
    text-align: center;
    border:solid;
    border-color: black;
    border-radius:50px;
    background-color: cornflowerblue;
}

nav{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

nav a{
    width: 7rem;
    height: 2rem;
    background-color: rgb(0, 26, 255);
    color: white;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtituloGameInfo
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.subrayado
{
    text-decoration: underline black;  
}
footer
{
    text-align: center;
}
table {
   text-align: left;
 /*  padding: 30px;
   padding-top: 4px;    
   padding-bottom: 5px;*/
  }
  .flex-contacto
  {
    display: flex;
    justify-content: space-between; 
  }
  .flex-rules
  {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
  }
  .ageGroups li {
    margin: 0rem;
    list-style: lower-alpha;
    list-style-position: inside;
}

.allPlay,
ul {
    padding-left: 1.3rem;
}

.allPlay li {
    margin: 0rem;
    list-style: circle;
}
